<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="AssetEntryCtrl">
  	<ion-nav-view></ion-nav-view>
    <ion-pane>

      <ion-header-bar class="bar-stable">
        <h1 class="title">Asset Entry</h1>
      </ion-header-bar>

      <ion-content>
      	test: {{barcodeid}}
      	<br/>
      	<a href="#/">HOME</a>

        <hr>

        <label class="item item-input">
          <span class="input-label">Asset ID</span>
          <input ng-readonly="true" type="text" value="{{barcodeid}}">
        </label>

        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" value="{{name}}" ng-model="asset.name">
        </label>

        <label class="item item-input">
          <span class="input-label">Type</span>
          <input type="text" value="{{type}}" ng-model="asset.type">
        </label>

        <label class="item item-input">
          <span class="input-label">Serial Number</span>
          <input type="text" value="{{serialnumber}}" ng-model="asset.serialnumber">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Asset Tag</span>
          <input type="text" value="{{assettag}}" ng-model="asset.assettag">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Stock Status</span>
          <input type="text" value="{{type2}}" ng-model="asset.type2">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Stock Sub-status</span>
          <input type="text" value="{{serialnumber3}}" ng-model="asset.serialnumber3">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Category</span> <!--Asset Tag4-->
          <input type="text" value="{{assettag4}}" ng-model="asset.assettag4">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Manufacturer</span>
          <input type="text" value="{{manufacturer}}" ng-model="asset.manufacturer">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Model</span>
          <input type="text" value="{{model}}" ng-model="asset.model">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Assigned User</span>
          <input type="text" value="{{assigneduser}}" ng-model="asset.assigneduser">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Location</span>
          <input type="text" value="{{location}}" ng-model="asset.location">
        </label>

        <label class="item item-input">
          <span class="input-label">Corporate Unit</span>
          <input type="text" value="{{corporateunit}}" ng-model="asset.corporateunit">
        </label>

        <label class="item item-input">
          <span class="input-label">Purchaser</span>
          <input type="text" value="{{purchaser}}" ng-model="asset.purchaser">
        </label>

        <label class="item item-input">
          <span class="input-label">Acquisition Mode</span>
          <input type="text" value="{{acquisitionmode}}" ng-model="asset.acquisitionmode">
        </label>

        <label class="item item-input">
          <span class="input-label">Delivery Date</span>
          <input type="text" value="{{deliverydate}}" datepicker-popup="dd-MM-yyyy" ng-model="asset.deliverydate"> <!--YYYY-MM-DD-->
        </label>

        <label class="item item-input">
          <span class="input-label">Refresh Due</span>
          <input type="date" value="{{refreshdue}}" datetime="yyyy-MM-dd" ng-model="asset.refreshdue"> <!--YYYY-MM-DD-->
        </label>

        <label class="item item-input">
          <span class="input-label">Contract Number</span>
          <input type="text" value="{{contractnumber}}" ng-model="asset.contractnumber">
        </label>

        <br>
        <button class="button button-block button-positive" ng-click="registerAsset(asset)">
          Register Asset
        </button>
      </ion-content>

    </ion-pane>
  </body>
</html>
