<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="AssetDetailCtrl">
  	<ion-nav-view></ion-nav-view>
    <ion-pane>

      <ion-header-bar class="bar-stable">
        <h1 class="title">Asset Detail</h1>
      </ion-header-bar>

      <ion-content>
        <label class="item item-input">
          <span class="input-label">Asset ID</span>
          <input ng-readonly="true" type="text" value="{{asset.id}}">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Asset Name</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.name}}" ng-model="asset.name"> <!--  value="{{asset.assetname}}" -->
        </label>
        
        <label class="item item-input">
          <span class="input-label">Type</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.type}}" ng-model="asset.type">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Serial Number</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.serialnumber}}" ng-model="asset.serialnumber">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Asset Tag</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.assettag}}" ng-model="asset.assettag">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Stock Status</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.type2}}" ng-model="asset.type2">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Stock Sub-status</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.serialnumber3}}" ng-model="asset.serialnumber3">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Category</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.assettag4}}" ng-model="asset.assettag4">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Manufacturer</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.manufacturer}}" ng-model="asset.manufacturer">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Model</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.model}}" ng-model="asset.model">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Assigned User</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.assigneduser}}" ng-model="asset.assigneduser">
        </label>

        <label class="item item-input">
          <span class="input-label">Location</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.location}}" ng-model="asset.location">
        </label>

        <label class="item item-input">
          <span class="input-label">Corporate Unit</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.corporateunit}}" ng-model="asset.corporateunit">
        </label>

        <label class="item item-input">
          <span class="input-label">Purchaser</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.Purchaser}}" ng-model="asset.Purchaser">
        </label>

        <label class="item item-input">
          <span class="input-label">Acquisition Mode</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.acquisitionmode}}" ng-model="asset.acquisitionmode">
        </label>

        <label class="item item-input">
          <span class="input-label">Delivery Date</span>
          <input ng-readonly="!editMode" type="date" datetime="yyyy-MM-dd" value="{{ddate}}" ng-model="asset.deliverydate"> <!--value="{{asset.deliverydate}}"-->
        </label>

        <label class="item item-input">
          <span class="input-label">Refresh Due</span>
          <input ng-readonly="!editMode" type="date" datetime="yyyy-MM-dd" value="{{rdue}}" ng-model="asset.refreshdue"> <!--value="{{asset.refreshdue}}"-->
        </label>

        <label class="item item-input">
          <span class="input-label">Contract Number</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.contractnumber}}" ng-model="asset.contractnumber">
        </label>

        <label class="item item-input">
          <span class="input-label">Deleted?</span>
          <input ng-readonly="!editMode" type="text" value="{{asset.status}}" ng-model="asset.status">
        </label>
        
        <br/>
        <a href="#/">HOME</a>

        <hr>

        <br>
        <button class="button button-block button-positive" ng-show="showEdit" ng-click="launchEditMode()">
          EDIT
        </button>
        <br>
        <br>

        <button class="button button-block button-positive" ng-show="editMode" ng-click="editAsset(asset)">
          CONFIRM EDIT
        </button>

        <button class="button button-block button-positive" ng-show="editMode" ng-click="cancelEditMode()">
          CANCEL
        </button>
        <br>

      </ion-content>

    </ion-pane>
  </body>
</html>
